<% @places.each do |place| %>
    <div>
        <h1>
            <%= place.name%><br />
            <%= place.address%><br />
            <%= place.description%><br />
        </h1>
    </div>

    <hr />
<% end %>